.Product {
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  margin: 10px;
}

li a {
  text-align: center;
  padding: 16px;
}

img {
  width: 100px;
  height: 100px;
}

